

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body { 
  margin: 0px 0px;
  padding: 0px 0px;
}

.button-green {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.button-green:hover,
.button-green-small:hover {
  background-color:  rgb(14, 172, 19);
  color: white;
}

.button-green-small {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 0px 0px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.button-red-small:hover {
  background-color:  rgb(122, 45, 45);
  color: white;
}

.button-red-small {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 8px 12px;
  margin: 0px 0px;
  text-align: center;
  text-decoration: none;
  float: right;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}

.button-blue {
  background-color: teal; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.button-blue:hover {
  background-color: rgb(1, 71, 71);
  color: white;
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=tel],
textarea,
select {
  background-color: white;
  padding: 10px 10px;
  border-style: solid;
  border-color:  #4CAF50;
  margin: 5px 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  text-decoration: strong;
  font-size: medium;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
input[type=tel]:focus,
select:focus {
  border-color: rgb(14, 172, 19);
}

header {
  background-color: rgb(60, 63, 60);
  margin: 0px 0px;
  padding: 10px 10px;
  position: fixed;
  width: 100%;
}

.row {
  padding: 30px 20px;
}

.row::after {
  clear: both;
  content: "";
  display: table;
} 
  
#col-1 {
  float: left;
  padding-left: 25px;
  width: 75%;
}

#col-2 {
  padding: 10px 10px;
  width: min-content;
  border-left-style: solid;
  border-left-color:  #4CAF50;
  float: left;
  width: 25%;
}


#col-3 {
  float: left;
  padding-left: 25px;
  width: 65%;
}

#col-4 {
  float: left;
  padding-left: 25px;
  width: 65%;
}

#col-5 {
  float: left;
  padding-left: 0px;
  width: 10%;
  border-right-style: solid;
  border-right-color: #4CAF50;
}

#col-6 {
  float: left;
  padding-left: 25px;
  width: 90%;
}

label{
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px;
  color:  black;
}

.title {
  margin: 0px 0px;
  padding: 0px 0px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  overflow: hidden;
}

#home-nav {
  position: relative;
  left: -5%;
  float: right;
  padding: 0px;
}

#home-nav a.navlink {
  background-color: rgb(60, 63, 60);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  float: right;
}

#home-nav a.navlink:hover {
  background-color: #4CAF50;
}

.nav-label {
  background-color: rgb(60, 63, 60);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  float: right;
}

.tab-container {
  padding-left: 20px;
}
.tab-link {
  border:none;
  padding: 0px 5px;
  display: block;
  background-color: white;
  margin-top:2px;
  margin-bottom: 2px;
  text-decoration: none;
  text-align: left;
  width: 98%;
  font-size: 20px;
}

.tab-link:hover {
  background-color:  rgb(14, 172, 19);
  color: white;
}

.tab-link-active {
  background-color: #4CAF50;
  color: white;
}

footer {
  background-color: rgb(60, 63, 60);
  margin: 0px 0px;
  width: 100%;
  color: white;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 100%;
}

.test {
  background-color: teal;
}

.content {
  padding: 30px 20px;
}

.description {
  width: 80%;
}

ul.errors {
  list-style-type: none;
  padding: 0;
  margin: 5px 5px;
  color: red;
  }

input[type=radio]{

  margin-top: 20px;
}
