
#div-test-info {
    margin-top: 30px;
    margin-left: 40px;
    padding: 20px;
}

#div-instructions {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    padding: 20px;
    width: 60%;
    border-style: solid;
    border-color: #4CAF50;
    border-radius: 20px;
}

#div-start-test {
    display: block;
    margin-left: 40px;
    margin-bottom: 50px;
    padding: 10px;
    width: 60%;
}

#btn-start-test {
    float: right;
}