
{% extends "base.html" %}

{% block head %}
<title>Candidate Registration</title>
<link rel="stylesheet" type="text/css" href="../static/css/registration.css">
{% endblock %}

{% block navlinks %}
<a href="#footer" class="navlink">Contact</a>
<a href="#col-4" class="navlink">About</a>
<a href="#help" class="navlink">Help</a>
<a href="#col-1" class="navlink">Home</a>
{% endblock %}

{% block content %}
<div id="reg-form">
    <h1><span style="color: green;">Register here to take part in the tests</span></h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et dolor at augue consectetur fermentum vitae sit amet lorem.
        Etiam sit amet risus ac dui auctor consequat. Phasellus maximus consequat mollis. Nunc ut tortor odio. Nunc sed nulla lorem. 
        Aenean facilisis porttitor lorem ut interdum. Integer laoreet felis laoreet, luctus nisl non, porttitor diam. Ut ut lobortis turpis. 
        Duis vitae consectetur sem, in euismod massa. Curabitur vitae lorem iaculis, placerat augue in, bibendum sem. Aliquam vestibulum lorem eu magna semper tristique.
    </p>
    <br><br>
    <form action="{{ url_for('add_candidate') }}" method="POST">
        {{ form_reg.csrf_token }}

        <label for="username">Username</label><br>
        {{ form_reg.username(id="username") }}
        {% if form_reg.username.errors %}
        <ul class="errors">
            {% for error in form_reg.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="password">Password</label><br>
        {{ form_reg.password(id="password") }}
        {% if form_reg.password.errors %}
        <ul class="errors">
            {% for error in form_reg.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="passwordre">Retype Password</label><br>
        {{ form_reg.passwordre(id="passwordre") }}
        {% if form_reg.passwordre.errors %}
        <ul class="errors">
            {% for error in form_reg.passwordre.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>

        <label for="first_name">First Name</label><br>
        {{ form_reg.first_name(id="first_name") }}
        {% if form_reg.first_name.errors %}
        <ul class="errors">
            {% for error in form_reg.first_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="last_name">Last Name</label ><br>
        {{ form_reg.last_name(id="last_name") }}
        {% if form_reg.last_name.errors %}
        <ul class="errors">
            {% for error in form_reg.last_name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="dob">Date of birth</label><br>
        {{ form_reg.dob(id="dob") }}
        {% if form_reg.dob.errors %}
        <ul class="errors">
            {% for error in form_reg.dob.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="gender">Gender</label><br>
        {{ form_reg.gender(id="gender") }}
        {% if form_reg.gender.errors %}
        <ul class="errors">
            {% for error in form_reg.gender.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>

        <label for="standard">Standard</label><br>
        {{ form_reg.standard(id="standard") }}
        {% if form_reg.standard.errors %}
        <ul class="errors">
            {% for error in form_reg.standard.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="school">School</label><br>
        {{ form_reg.school(id="school")}}
        {% if form_reg.school.errors %}
        <ul class="errors">
            {% for error in form_reg.school.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br>

        <label for="email">Email</label><br>
        {{ form_reg.email(id="email") }}
        {% if form_reg.email.errors %}
        <ul class="errors">
            {% for error in form_reg.email.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>

        <label for="phone">Phone</label><br>
        {{ form_reg.phone(id="phone") }}
        {% if form_reg.phone.errors %}
        <ul class="errors">
            {% for error in form_reg.phone.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <br><br><br>

        {{ form_reg.submit(value="Register", class="button-green")}}
    </form>
</div>
{% endblock %}

