<!DOCTYPE html>
<html>
  <head>
      <title>Account</title>
  </head>
  <body>
      <nav>
        <a href="\dashboard"><button>Dashboard</button></a>
        <a href="\profile"><button>Profile</button></a>
      </nav>
      <div>
          <h3>Set A Test</h3>
          <form>
              <label for="test_name">Test Name</label>
              <input type="text" name="test_name" id="test_name" required><br>
              <label for="test_subject">Subject</label>
              <select name="test_subject" id="test_subject">
                  <option value="Mathematics">Mathematics</option>
                  <option value="Physics">Physics</option>
                  <option value="Chemistry">Chemistry</option>
                  <option value="Zoology">Zoology</option>
                  <option value="Botony">Botony</option>
                  <option value="Computer Science">Computer Science</option>
              </select><br>
              <label for="standard">Standard</label>
              <select name="standard" id="standard" required>
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                  <option value="1">5</option>
                  <option value="1">6</option>
                  <option value="1">7</option>
                  <option value="1">8</option>
                  <option value="1">9</option>
                  <option value="1">10</option>
              </select><br>
              <label for="question_bank">Question bank</label>
              <input type="file" name="question_bank" id="question_bank">
          </form>
      </div>
  </body>
</html>