
<!DOCTYPE html>
<html>
    <head>
        <title>Examiner Registration</title>
    </head>
    <body>
        <div>
            <form>
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" required><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" required><br>
                <label for="passwordre">Retype Password</label><br>
                <input type="password" name="passwordre" id="passwordre"><br><br>
                <label for="first_name">First Name</label><br>
                <input type="text" name="first_name" id="first_name" required><br>
                <label for="last_name">Last Name</label ><br>
                <input type="text" name="last_name" id="last_name" required><br><br>
                <label for="subjects">subjects</label><br>
                <select name="subject" id="test_subject">
                    <option value="Mathematics">Mathematics</option>
                    <option value="Physics">Physics</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Zoology">Zoology</option>
                    <option value="Botony">Botony</option>
                    <option value="Computer Science">Computer Science</option>
                </select><br>
                <label for="school">School</label><br>
                <input type="text" name="school" id="school"><br>
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>